body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

body, html, #app {
  height: 100%;
  margin: 0;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile__picture {
  width: 30%;
  border-radius: 50%;
  vertical-align: middle;
  margin: 2rem;
}

.profile__description {
  width: 50%;
  padding: 2rem;
  vertical-align: middle;
  text-align: justify;
}

.post__title {
  font-weight: normal;
  text-align: center;
}

.post__header {
  font-weight: normal;
  margin-top: 50px;
}

.post__paragraph {
  text-align: justify;
}

.post__main-image, .post__image {
  display: block;
  width: 40rem;
  margin: 50px auto;
}

@media (max-width: 65rem) {
  .post__title, .post__header, .post__paragraph, .post__image {
    padding: 0 2rem;
  }
}

@media (max-width: 50rem) {
  .profile {
    flex-direction: column;
  }

  .profile__picture {
    width: 40%;
  }

  .profile__description {
    width: calc(100% - 8rem);
  }

  .post__main-image, .post__image {
    width: 80%;
  }
}

@media (max-width: 40rem) {
  .post__title, .post__header, .post__paragraph, .post__image {
    padding: 0;
  }

  .profile__description {
    padding: 0;
    width: 100%;
  }

  .post__image {
    width: 80%;
  }
}
