body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

body, html, #app {
  height: 100%;
  margin: 0;
}

.page {
  max-width: 1800px;
  margin: auto;
  min-height: 100%;
  position: relative;
}

.header__nav__item {
  display: inline-block;
  margin: 0 20px;
}

.header__nav__item--inactive a {
  color: #000000;
}

.header__nav__item--active {
  color: #adadad;
}

.content {
  width: 65rem;
  margin: auto;
  margin-top: 7%;
  padding-bottom: 120px;
}

.profile {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.profile__picture {
  width: 30%;
  border-radius: 50%;
  vertical-align: middle;
  margin: 2rem;
}

.profile__description {
  width: 50%;
  padding: 2rem;
  vertical-align: middle;
  text-align: justify;
}

.contact {
  margin: 40px auto;
  width: calc(100% - 6rem);
}

.contact__list__item {
  margin: 10px 0;
}

.post__title {
  font-weight: normal;
  text-align: center;
}

.post__header {
  font-weight: normal;
  margin-top: 50px;
}

.post__paragraph {
  text-align: justify;
}

.post__main-image, .post__image {
  display: block;
  width: 40rem;
  margin: 50px auto;
}

@media (max-width: 65rem) {
  .content {
    width: 100%;
  }

  .post__title, .post__header, .post__paragraph, .post__image {
    padding: 0 2rem;
  }
}

@media (max-width: 50rem) {
  .profile {
    flex-direction: column;
  }

  .profile__picture {
    width: 40%;
  }

  .profile__description {
    width: calc(100% - 8rem);
  }

  .contact {
    width: calc(100% - 8rem);
  }

  .post__main-image, .post__image {
    width: 80%;
  }
}

@media (max-width: 40rem) {
  .content {
    width: 90%;
    margin: auto;
    margin-top: 0;
  }

  .post__title, .post__header, .post__paragraph, .post__image {
    padding: 0;
  }

  .profile__description {
    padding: 0;
    width: 100%;
  }

  .contact {
    width: 100%;
  }

  .post__image {
    width: 80%;
  }
}
